<launch>

    <node pkg="aa241x_student" type="vision_node" name="vision_node" output="screen">
        <param name="frame_width" value="1280" />
        <param name="frame_height" value="1280" />
        <param name="display_video" value="true" />
    </node>

    <node pkg="aa241x_student" type="display_node" name="display_node" output="screen">
        <param name="frame_width" value="720" />
        <param name="frame_height" value="720" />
    </node>

    <node pkg="aa241x_student" type="landing.py" name="landing_node" output="screen"/>


</launch>
